{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script type = text/javascript src="../static/script.js" defer></script>
</head>
<body>
  <p>Arrange the adjectives for OP rankings.</p>
    <div class="container">
        <p class="draggable" draggable="true" id = "Emotional">Emotional</p>
        <p class="draggable" draggable="true" id = "Cautious">Cautious</p>
        <p class="draggable" draggable="true" id = "Gracious">Gracious</p>
        <p class="draggable" draggable="true" id = "Sacrificing">Sacrificing</p>
        <p class="draggable" draggable="true" id="Rational">Rational</p>
      </div>
      <form id="orderingForm" method="post" action="{% url 'save-group-ordering' %}">
        {% csrf_token %}
        <input type="hidden" id="orderingInput" name="ordering">
        </form>
      <button id = "saveOrdering">Submit</button>
      <a href="{% url 'saved' %}">Next</a>
</body>
</html>