<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/final_style.css" />
  <script type = text/javascript src="../../static/eum_i/confirm.js" defer></script>
  <title>Drag and Drop Interface</title>
</head>

<body>
<div class="confirm">
    <div id="sc-panel" class="p-2 left-panel adjectives-bar">
    </div>
    <div class="p-2 left-panel adjectives-bar">
      <table>
      <tbody>
        <tr>
          <td>
            <div class="adjective" draggable="true" id = "Rational" ondragstart="onDragStart(event)">Rational </div>
          <td>
        </tr>
      </tbody>
      </table>
      <div class="adjective" draggable="true" id = "Rational" ondragstart="onDragStart(event)">Rational </div>
      <div class="adjective" draggable="true" id = "Sacrificing" ondragstart="onDragStart(event)">Sacrificing</div>
      <div class="adjective" draggable="true" id = "Gracious" ondragstart="onDragStart(event)">Gracious</div>
      <div class="adjective" draggable="true" id = "Cautious" ondragstart="onDragStart(event)">Cautious</div>
      <div class="adjective" draggable="true" id = "Emotional" ondragstart="onDragStart(event)">Emotional</div>
      <div class="adjective" draggable="true" id = "Competitive" ondragstart="onDragStart(event)">Competitive</div>
      <div class="adjective" draggable="true" id = "Sympathetic" ondragstart="onDragStart(event)">Sympathetic</div>
      <div class="adjective" draggable="true" id = "Uninhibited" ondragstart="onDragStart(event)">Uninhibited</div>
      <div class="adjective" draggable="true" id = "Collaborative" ondragstart="onDragStart(event)">Collaborative</div>
      <div class="adjective" draggable="true" id = "Dutiful" ondragstart="onDragStart(event)">Dutiful</div>
      <div class="adjective" draggable="true" id = "Fair" ondragstart="onDragStart(event)">Fair</div>
      <div class="adjective" draggable="true" id = "Tactful" ondragstart="onDragStart(event)">Tactful</div>
      <div class="adjective" draggable="true" id = "Tough" ondragstart="onDragStart(event)">Tough</div>
      <div class="adjective" draggable="true" id = "Dynamic" ondragstart="onDragStart(event)">Dynamic</div>
      <div class="adjective" draggable="true" id = "Steady" ondragstart="onDragStart(event)">Steady</div>
    </div>
    <div class="p-2 left-panel adjectives-bar">
      <div class="adjective" draggable="true" id = "Rational" ondragstart="onDragStart(event)">Rational </div>
      <div class="adjective" draggable="true" id = "Sacrificing" ondragstart="onDragStart(event)">Sacrificing</div>
      <div class="adjective" draggable="true" id = "Gracious" ondragstart="onDragStart(event)">Gracious</div>
      <div class="adjective" draggable="true" id = "Cautious" ondragstart="onDragStart(event)">Cautious</div>
      <div class="adjective" draggable="true" id = "Emotional" ondragstart="onDragStart(event)">Emotional</div>
      <div class="adjective" draggable="true" id = "Competitive" ondragstart="onDragStart(event)">Competitive</div>
      <div class="adjective" draggable="true" id = "Sympathetic" ondragstart="onDragStart(event)">Sympathetic</div>
      <div class="adjective" draggable="true" id = "Uninhibited" ondragstart="onDragStart(event)">Uninhibited</div>
      <div class="adjective" draggable="true" id = "Collaborative" ondragstart="onDragStart(event)">Collaborative</div>
      <div class="adjective" draggable="true" id = "Dutiful" ondragstart="onDragStart(event)">Dutiful</div>
      <div class="adjective" draggable="true" id = "Fair" ondragstart="onDragStart(event)">Fair</div>
      <div class="adjective" draggable="true" id = "Tactful" ondragstart="onDragStart(event)">Tactful</div>
      <div class="adjective" draggable="true" id = "Tough" ondragstart="onDragStart(event)">Tough</div>
      <div class="adjective" draggable="true" id = "Dynamic" ondragstart="onDragStart(event)">Dynamic</div>
      <div class="adjective" draggable="true" id = "Steady" ondragstart="onDragStart(event)">Steady</div>
    </div>
    <div class="p-2 left-panel adjectives-bar">
      <div class="adjective" draggable="true" id = "Rational" ondragstart="onDragStart(event)">Rational </div>
      <div class="adjective" draggable="true" id = "Sacrificing" ondragstart="onDragStart(event)">Sacrificing</div>
      <div class="adjective" draggable="true" id = "Gracious" ondragstart="onDragStart(event)">Gracious</div>
      <div class="adjective" draggable="true" id = "Cautious" ondragstart="onDragStart(event)">Cautious</div>
      <div class="adjective" draggable="true" id = "Emotional" ondragstart="onDragStart(event)">Emotional</div>
      <div class="adjective" draggable="true" id = "Competitive" ondragstart="onDragStart(event)">Competitive</div>
      <div class="adjective" draggable="true" id = "Sympathetic" ondragstart="onDragStart(event)">Sympathetic</div>
      <div class="adjective" draggable="true" id = "Uninhibited" ondragstart="onDragStart(event)">Uninhibited</div>
      <div class="adjective" draggable="true" id = "Collaborative" ondragstart="onDragStart(event)">Collaborative</div>
      <div class="adjective" draggable="true" id = "Dutiful" ondragstart="onDragStart(event)">Dutiful</div>
      <div class="adjective" draggable="true" id = "Fair" ondragstart="onDragStart(event)">Fair</div>
      <div class="adjective" draggable="true" id = "Tactful" ondragstart="onDragStart(event)">Tactful</div>
      <div class="adjective" draggable="true" id = "Tough" ondragstart="onDragStart(event)">Tough</div>
      <div class="adjective" draggable="true" id = "Dynamic" ondragstart="onDragStart(event)">Dynamic</div>
      <div class="adjective" draggable="true" id = "Steady" ondragstart="onDragStart(event)">Steady</div>
    </div>
  </div>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$( function() {
  $( "#result-table-body" ).sortable({
    stop: saveInterOrdering
  });
} );
</script>
</body>
</html>
