<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/style.css" />
        <!-- <script type = text/javascript src="../static/script.js" defer></script> -->
        <title>EUM-I Home</title>
      </head>
    <body>
        <div class="thanks">
            <h1>Thank you for taking the test! <name> will get in touch with you shortly. </h1>
        </div>

    </body>
</html>
